<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SessionObjects-Covid</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VerifyUser</display-name>
    <servlet-name>VerifyUser</servlet-name>
    <servlet-class>VerifyUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyUser</servlet-name>
    <url-pattern>/VerifyUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveCaseServlet</display-name>
    <servlet-name>ActiveCaseServlet</servlet-name>
    <servlet-class>ActiveCaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveCaseServlet</servlet-name>
    <url-pattern>/ActiveCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecoveredCaseServlet</display-name>
    <servlet-name>RecoveredCaseServlet</servlet-name>
    <servlet-class>RecoveredCaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoveredCaseServlet</servlet-name>
    <url-pattern>/RecoveredCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalDeathServlet</display-name>
    <servlet-name>TotalDeathServlet</servlet-name>
    <servlet-class>TotalDeathServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalDeathServlet</servlet-name>
    <url-pattern>/TotalDeathServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>KillSession</display-name>
    <servlet-name>KillSession</servlet-name>
    <servlet-class>KillSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KillSession</servlet-name>
    <url-pattern>/KillSession</url-pattern>
  </servlet-mapping>
</web-app>